
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared style */
.display-flex{
    display:flex;
}
.text-gray{
    color: rgba(137, 135, 161, 1);
}
.text-black{
    color:rgba(37, 36, 50, 1) ;
}
/* header styles */


/* navbar related style */
.navbar{
    justify-content: space-between;
    align-items: center;

    
}
.nav-item{
list-style: none;
margin-right: 48px;   
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    align-items: center;
    margin-top: 20px;
    font-size: 20px;
}
.navbar{
    max-width: 1140px;
     height: 71px;
     margin: 0 auto;
}
button{
    border: none;
    font-size:20px;
    background: none;
}
.banner{
    max-width: 1140px;
    height: 461px;
    margin: 0 auto;
    align-items: center;
    margin-top: 120px;
}


.banner-img{
    width:570px ;
    height: 355px;
}
.banner-title{
    width:570px;
    height: 178px;
    font-size: 65px;
    font: 700;
    margin-bottom: 20px;

}
.banner-description{
    width: 570px;
    height: 108px;
    margin-top: 20px;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
}
.orange{
    color: rgba(233, 90, 8, 1);
}
.our-plants{
    text-align: center;
}
.plants-title{
    font-size: 50px;
    font-weight: 700;
}
.flower-name{
    font-size: 22px;
}
.price{
    font-size: 22px;
    font-weight: 700;

}
.cart-btn{
    font-weight: 600;
    font-size: 16px;
    background-color: rgba(233, 90, 8, 1);
    color: white;
    width: 270px;
    height: 50px;
}

.plants-description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    height: 54px;
    width: 888px;
    margin: 16px auto;
    

}
.grid{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      max-width:1140px;
      margin: 49px auto;
    
}
.card-info{
    text-align: center;
}



.main-container{
    margin-top: 210px;
}
.container {
  width: 1140px;
  height: 597px;
  display: flex;
  gap: 50px;
  background-color: white;
  margin: auto;
  position: relative;

}

.left {
  width: 540px;
  height: 597px;
  position: relative;
}

.main-image {
  width: 540px;
  height: 597px;
  object-fit: cover;
  display: block;
}

.badge {
  position: absolute;
  width: 286px;
  height: 286px;
  top: -150px;
  left: 92%;
  transform: translateX(-50%);
}

.right {
  width: 540px;
  height: 521px;
  padding: 20px;
  box-sizing: border-box;
}

.right h2 {
  font-size: 50px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
}

.right ul {
  padding-left: 20px;
}

.right li {
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 0.5);
  font-size:22px;
}



 

.deals-section {
  width: 1140px;
  margin: 120px auto 0;
}

.deals-header {
  text-align: center;
  margin-bottom: 40px;
}

.deals-header h2 {
    font-size: 50px;
    font-weight: 700;
  color: #000;
  margin-bottom: 5px;
}

.deals-header h2 span {
  color: rgba(233, 90, 8, 1);
}

.deals-header p {
  color:rgba(0, 0, 0, 0.5);
  max-width: 620px;
   margin:2px auto 0;

  line-height: 1.6;
}

.deals-container {
  display: flex;
  gap: 25px;
}

.left-deals {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.deal-box {
  position: relative;
  border-radius: 14px;
  overflow: hidden;
}

.deal-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.deal-box.small {
  width: 367px;
  height: 201px;
}

.deal-box.large {
  width: 753px;
  height: 423px;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  /* text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8); */
  margin-top: 10px;
}

.overlay-title {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  width: 270px;
  height: 27px;
}
.overlay-title-large{
    font-size:40px ;
    font-weight:700 ;
    width: 498px;
    height: 50px;
    margin-bottom: 10px;
}

.overlay-btn {
  margin-top: 8px;
  font-size: 16px;
}
.overlay-btn2{
    font-size: 28px;

    
}